@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat-Bold'), url(./IQHow_FEYlDC4Gzy_m8fcvEr6Hm6RMS0v1dtXsGir4g.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(./cJZKeOuBrn4kERxqtaUH3aCWcynf_cDxXwCLxiixG1c.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(./k3k702ZOKiLJc3WVjuplzInF5uFdDttMLvmWuJdhhgs.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url(./xjAJXh38I15wypJXxuGMBp0EAVxt0G0biEntp43Qt6E.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url(./PRmiXeptR36kaC0GEAetxp_TkvowlIOtbR7ePgFOpF4.ttf) format('truetype');
}

/**
 * Vector 35 theme for reveal.js (based on the black theme).
 *
 * Copyright (C) 2011-2012 Hakim El Hattab, http://hakim.se
 * Copyright (C) 2015 Vector 35, http://vector35.com
 */
/*********************************************
 * GLOBAL STYLES
 *********************************************/
body
{
  background: #000;
  background-color: #000;
}

.reveal
{
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  font-weight: normal;
  color: #eee;
}

::selection
{
  color: #fff;
  background: #1d8d00;
  text-shadow: none;
}

.reveal .slides > section, .reveal .slides > section > section
{
  line-height: 1.3;
  font-weight: inherit;
  background: rgba(0,0,0,0.85);
}

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6
                                                             {
  margin: 0 0 20px 0;
  color: #eee;
  font-family: 'Montserrat', Impact, sans-serif;
  font-weight: normal;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: none;
  text-shadow: none;
  word-wrap: break-word;
}

.reveal h1
{
  font-size: 4.77em;
  text-shadow: none;
}

.reveal h2
{
  font-size: 3.2em;
}

.reveal h3
{
  font-size: 2.4em;
}

.reveal h4
{
  font-size: 1.8em;
}

.reveal li
{
  font-size: 1.4em;
}

.reveal ul li
{
  background: url('../../../images/bullet.png') no-repeat left ;
  background-size: 20px;
  padding-left: 1.2em;
  //list-style-image: url('../../../images/whitev.png');
}

/*********************************************
 * OTHER
 *********************************************/
.reveal p
{
  margin: 20px 0;
  line-height: 1.3; }

/* Ensure certain elements are never larger than the slide itself */
.reveal img, .reveal video, .reveal iframe
{
  max-width: 95%;
  max-height: 95%;
}

.reveal strong, .reveal b
{
  font-weight: bold;
}

.reveal em
{
  font-style: italic;
}

.reveal ol, .reveal dl, .reveal ul
{
  display: inline-block;
  text-align: left;
  margin: 0 0 0 1em;
}

.reveal ol
{
  list-style-type: decimal;
}

.reveal ul
{
  list-style-type: none;
}

/*
.reveal ul ul {
  list-style-type: square;
}

.reveal ul ul ul {
  list-style-type: circle;
}
*/

.reveal ul ul, .reveal ul ol, .reveal ol ol, .reveal ol ul {
  display: block;
  margin-left: 40px; }

.reveal dt {
  font-weight: bold; }

.reveal dd {
  margin-left: 40px; }

.reveal q {
    quotes: none;
}

.reveal blockquote {
  display: block;
  position: relative;
  width: 70%;
  margin: 20px auto;
  padding: 5px;
  quotes: "\201C""\201D""\2018""\2019";
  font-style: italic;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2); }

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

.reveal blockquote p:first-child, .reveal blockquote p:last-child {
  display: inline-block; }

.reveal q {
  font-style: italic; }

.reveal pre {
  display: block;
  position: relative;
  width: 90%;
  margin: 20px auto;
  text-align: left;
  font-size: 0.64em;
  font-family: monospace;
  line-height: 1.2em;
  word-wrap: break-word;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3); }

.reveal code {
  font-family: monospace;
  /*
  font-size: 0.5em;
*/
}

.reveal pre code {
  display: block;
  padding: 5px;
  overflow: auto;
  max-height: 400px;
  word-wrap: normal;
  background: #3F3F3F;
  color: #DCDCDC; }
  font-size: 0.5em;

.reveal table {
  margin: auto;
  border-collapse: collapse;
  border-spacing: 0; }

.reveal table th {
  font-weight: bold; }

.reveal table th, .reveal table td {
  text-align: left;
  padding: 0.2em 0.5em 0.2em 0.5em;
  border-bottom: 1px solid; }

.reveal table tr:last-child td {
  border-bottom: none; }

.reveal sup {
  vertical-align: super; }

.reveal sub {
  vertical-align: sub; }

.reveal small {
  display: inline-block;
  font-size: 0.6em;
  line-height: 1.2em;
  vertical-align: top; }

.reveal small * {
  vertical-align: top; }

/*********************************************
 * LINKS
 *********************************************/
.reveal a {
  color: #8ec680;
  text-decoration: none;
  -webkit-transition: color 0.15s ease;
  -moz-transition: color 0.15s ease;
  transition: color 0.15s ease; }

.reveal a:hover {
  color: #1d8d00;
  text-shadow: none;
  border: none; }

.reveal .roll span:after {
  color: #fff;
  background: #150; }

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  margin: 15px 0px;
  /*
  background: rgba(255, 255, 255, 0.12);
  border: 4px solid #eee;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  */
}

.reveal a img {
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  transition: all 0.15s linear; }

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #1d8d00;
}
/*
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55);
*/

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls div.navigate-left, .reveal .controls div.navigate-left.enabled
{
  border-right-color: #1d8d00;
}

.reveal .controls div.navigate-right, .reveal .controls div.navigate-right.enabled
{
  border-left-color: #1d8d00;
}

.reveal .controls div.navigate-up, .reveal .controls div.navigate-up.enabled
{
  border-bottom-color: #1d8d00;
}

.reveal .controls div.navigate-down, .reveal .controls div.navigate-down.enabled
{
  border-top-color: #1d8d00;
}

.reveal .controls div.navigate-left.enabled:hover
{
  border-right-color: #bbddb2;
}

.reveal .controls div.navigate-right.enabled:hover
{
  border-left-color: #bbddb2;
}

.reveal .controls div.navigate-up.enabled:hover
{
  border-bottom-color: #bbddb2;
}

.reveal .controls div.navigate-down.enabled:hover
{
  border-top-color: #bbddb2;
}

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress
{
  background: rgba(0, 0, 0, 0.2);
}

.reveal .progress span
{
  background: #1d8d00;
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
}

/*********************************************
 * SLIDE NUMBER
 *********************************************/
.reveal .slide-number {
  color: #8ec680; }

.has-light-background.present h2, .has-light-background.present h3, .has-light-background.present h3, .light.present h2, .light.present h3
{
    color: #150;
}

